@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Alegreya', 'ui-serif', 'system-ui', 'serif';
    display: flex;
    min-height: 100vh;
  }

  #root {
    width: 100%;
  }
}